 body {
     box-sizing: border-box;
     font-family: Arial, sans-serif;
     padding: 0;
     margin: 0;
     color: #222222;
 }
 /*Header*/
 
 .header {
     width: 100%;
     height: 100px;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 100;
 }
 
 .header.fixed {
     height: auto;
     position: fixed;
     background-color: #353537;
 }
 
 .container {
     max-width: 930px;
     margin: 0 auto;
 }
 
 .header-block {
     display: flex;
     justify-content: space-between;
     height: 80px;
     align-items: center;
 }
 
 .header-logo {
     padding-left: 35px;
 }
 
 .header-menu {
     display: flex;
 }
 
 .header-menu li {
     list-style: none;
     margin-right: 41px;
     padding-right: 20px;
 }
 
 .header-menu li a {
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
 }
 
 .header-menu li a:hover {
     color: #fed136;
 }
 /*  .header-menu li a:active {
     color: #574f35;
 } */
 /*Burger*/
 
 .burger {
     display: none;
     background: none;
     border: 0;
     cursor: pointer;
     padding: 9px 2px;
 }
 
 .burger__item {
     display: block;
     width: 30px;
     height: 3px;
     background-color: #fff;
     font-size: 0;
     color: transparent;
     position: relative;
 }
 
 .burger__item::before,
 .burger__item::after {
     content: "";
     width: 100%;
     height: 100%;
     background-color: #fff;
     position: absolute;
     left: 0;
     z-index: 1;
 }
 
 .burger__item::before {
     bottom: -8px;
 }
 
 .burger__item::after {
     top: -8px;
 }
 /*Intro*/
 
 .intro {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 480px;
     padding-top: 0px;
     background: #31344e url("../img/first-bg.jpg") center no-repeat;
     background-size: cover;
     padding-bottom: 160px;
 }
 
 .intro__inner {
     width: 100%;
     max-width: 970px;
     margin: 0 auto;
     text-align: center;
 }
 
 .intro__title {
     font-size: 75px;
     color: #fff;
     text-transform: uppercase;
     text-align: center;
     margin: 15px;
 }
 
 .intro__subtitle {
     font-size: 40px;
     color: #fff;
     text-transform: uppercase;
     text-align: center;
     margin-top: 180px;
 }
 
 .button {
     display: block;
     width: 240px;
     font-size: 18px;
     text-decoration: none;
     text-align: center;
     text-transform: uppercase;
     font-weight: bold;
     color: #484543;
     background: #fed136;
     border-radius: 3px;
     padding: 20px 0;
     margin: 0 auto;
     margin-top: 50px;
 }
 
 .button:hover {
     background-color: #f5a42c;
 }
 
 .button:active {
     /* background-color: #ff7606; */
     background-color: #fed136;
 }
 /**/
 
 .title {
     padding-top: 115px;
 }
 
 .title h2 {
     font-size: 40px;
     font-weight: bold;
     text-align: center;
     text-transform: uppercase;
     margin: 0;
 }
 
 .title p {
     color: #777777;
     text-align: center;
     font-size: 16px;
     margin-top: 5px;
 }
 /*Services*/
 
 .section-services {
     padding-bottom: 120px;
 }
 
 .services-items {
     display: flex;
     margin-top: 50px;
 }
 
 .services-item {
     text-align: center;
     margin: 0 20px;
 }
 
 .services-item p {
     color: #777777;
     font-size: 14px;
     line-height: 1.55em;
 }
 /*Works*/
 
 .section-portfolio {
     background: #dbdbdb;
     padding-bottom: 120px;
 }
 
 .works-items {
     display: flex;
     justify-content: space-around;
     margin-top: 70px;
     padding: 0px 0px 0px 0px;
 }
 
 .works-item {
     width: 30%;
     padding: 0px 10px;
 }
 
 .works-item img {
     width: 100%;
 }
 /*About*/
 
 .about-items {
     display: flex;
     justify-content: center;
     margin-top: 90px;
 }
 
 .about-item {
     flex: 0 0 33%;
     text-align: right;
     padding-top: 20px;
     padding-right: 40px;
 }
 
 .about-text h3 {
     margin: 0;
     line-height: 1.55em;
 }
 
 .about-text p {
     color: #777777;
     font-size: 14px;
     line-height: 1.55em;
 }
 
 .about-image {
     flex: 0 0 57%;
     text-align: left;
 }
 
 .about-image img {}
 
 .about-item__two {
     flex: 0 0 33%;
     text-align: left;
     /*  margin-left: 30px; */
     padding-top: 20px;
     padding-left: 40px;
 }
 
 .about-text {
     width: 300px;
 }
 
 .about-image__two {
     flex: 0 0 57%;
     text-align: right;
 }
 
 .about-text__one {
     padding: 0;
 }
 /*Footer*/
 
 .footer-block {
     background: #dbdbdb;
     margin-top: 130px;
 }
 
 .footer-title {
     padding-top: 50px;
     color: #777777;
     text-align: center;
     padding-bottom: 50px;
 }
 /*Media*/
 
 @media (max-width: 1100px) {
     .intro__title {
         font-size: 65px;
     }
     .intro__subtitle {
         font-size: 35px;
         margin-top: 180px;
     }
 }
 
 @media (max-width: 950px) {
     .header-logo {
         padding-left: 55px;
     }
     .intro__title {
         font-size: 50px;
     }
     .intro__subtitle {
         font-size: 30px;
     }
     .title {
         padding-top: 100px;
     }
     .header-menu {
         margin-right: 40px;
     }
     .header-menu li {
         margin-right: 10px;
         padding-right: 20px;
     }
     .section {
         padding-bottom: 60px;
     }
     .works-items {
         flex-direction: column;
         align-items: center;
     }
     .works-item {
         width: 80%;
         margin-bottom: 20px;
         padding: 0;
     }
     .about-items {
         flex-direction: column;
         align-items: center;
         margin-top: 60px;
     }
     .about-items__rew {
         flex-direction: column-reverse;
     }
     .about-item,
     .about-item__two {
         flex: 0 1 auto;
         text-align: center;
         padding: 0;
         margin: 0;
         margin-top: 20px;
     }
     .about-image,
     .about-image__two {
         flex: 0 1 auto;
         text-align: center;
     }
     .footer-block {
         margin-top: 0px;
     }
 }
 
 @media (max-width: 767px) {
     .header-block {
         height: 65px;
     }
     nav {
         margin-right: 20px;
     }
     .header-menu {
         display: none;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         -ms-flex-pack: distribute;
         justify-content: space-around;
         margin: 0;
         /* background-color: #313131; */
         background-color: #353537;
         width: 100%;
         height: 290px;
         text-align: center;
         position: absolute;
         right: 0;
         top: 0px;
         padding: 0;
         padding-top: 50px;
         padding-bottom: 20px;
     }
     .header-menu li {
         margin-right: 0px;
         padding-right: 0px;
     }
     .header-menu.show {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
     }
     #menu .menu__link {
         padding: 9px 15px;
         margin: 0;
     }
     .burger {
         display: block;
     }
     .intro__title {
         font-size: 42px;
     }
     .intro__subtitle {
         font-size: 26px;
     }
     .section-services {
         padding-bottom: 55px;
     }
     .services-items {
         flex-direction: column;
         margin-top: 40px;
     }
     .services__item {
         margin: 0px 30px 50px;
     }
 }
 
 @media (max-width: 480px) {
     .intro__title {
         font-size: 32px;
     }
     .intro__subtitle {
         font-size: 20px;
     }
     .button {
         width: 200px;
     }
     .title {
         padding-top: 100px;
     }
     .services-items {
         margin-top: 34px;
     }
     .about-text {
         width: 80%;
         margin: 0 auto;
     }
     .footer-title {
         padding-top: 30px;
         padding-bottom: 30px;
     }
 }
 
 @media (max-width: 320px) {
     .intro__title {
         font-size: 28px;
         margin: 12px 15px;
     }
     .intro__subtitle {
         font-size: 17px;
     }
     .footer-title {
         padding-top: 23px;
         padding-bottom: 23px;
     }
 }